[submodule "deps/json"]
  path = deps/json
  url = https://github.com/nlohmann/json.git
[submodule "deps/stable-diffusion.cpp"]
	path = deps/stable-diffusion.cpp
	url = https://github.com/leejet/stable-diffusion.cpp
