*.a
*.so
*.out

*.lib
*.dll
*.exe

*.log

.out
.vscode

build

client/webview/dist
client/webview/node_modules

client/webview/package-lock.json

deps/ffmpeg
deps/opencv
deps/spdlog
deps/libtorch
deps/yaml-cpp
deps/tinyxml2
deps/wxWidgets
