*.a
*.so
*.exe
*.dll
*.lib
*.out
*.log

.vscode

logs
build
target

deps/fltk
deps/stable-diffusion.cpp

deps/json
deps/opencv
deps/spdlog
deps/yaml-cpp
deps/cpp-httplib

deps/libtorch
deps/libtorch-cpu-debug
deps/libtorch-cpu-release
deps/libtorch-cuda-debug
deps/libtorch-cuda-release
