[submodule "deps/json"]
  path = deps/json
  url  = https://github.com/nlohmann/json.git
[submodule "deps/ggml"]
	path = deps/ggml
	url  = https://github.com/ggerganov/ggml.git
[submodule "deps/stable-diffusion.cpp"]
	path = deps/stable-diffusion.cpp
	url  = https://github.com/leejet/stable-diffusion.cpp
[submodule "deps/Chinese-Word-Vectors"]
	path = deps/Chinese-Word-Vectors
	url  = https://github.com/Embedding/Chinese-Word-Vectors.git
